<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/public/core.js"></script>
    <link rel="stylesheet" href="/public/app.css">
    <title>To do List</title>
  </head>
  <body>

    <%- include('nav.html') %>

      <h4 class="container mt-4"><strong>글 수정페이지</strong></h4>

      <div class="container mt-3">
        <form action="/edit?_method=PUT" method="post">
          <div class="form-group">
            <label>오늘의 할일</label>
            <input type="text" name="id" value="<%= data._id %>" style="display: none;">
            <input type="text" class="form-control" id="title" name="title" value="<%= data.제목 %>">
          </div>
          <div class="form-group">
            <label>날짜</label>
            <input type="text" class="form-control" id="date" name="date" value="<%= data.날짜 %>"> 
          </div>
          <button type="submit" class="btn btn-success">수정</button>
        </form>
        </div>


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>